@charset "utf-8";

/* 基本的なタグの設定 */
body {
    font-family: Arial, Verdana, sans-serif;
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: #527557;
    color: #eeeeee;
}

.contents {
    background-color: #cccccc;
    color: #222222;
    margin-top: 20px;
}

footer {
    background-color: #527557;
    color: #eeeeee;
}

header h1 {
    font-size: 24px;
}

.contents h1 {
    font-size: 24px;
}

.info {
    font-size: small;
}

/*  ナビゲーション部分の設定 */
nav ul{
    list-style: none;
    overflow: hidden;
}

nav li {
    float: left;
    width: 33%;
    height: 150%;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: #eeeeee;
}

/* テーブルの設定 */
table {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 5px #7A9984 solid;
}

th {
    padding-left: 10px;
    height: 50px;
}

tr:nth-child(2n) {
    background-color: #A3CCB0;
}

tr:nth-child(2n+1) {
    background-color: #FFEDE5;
}